#Folder configuration
mt4DataFolder=/home/piotr/.wine/drive_c/Program Files (x86)/FxPro - MetaTrader 4/tester/files/
#mt4DataFolder=/home/piotr/.wine/drive_c/Program Files (x86)/FxPro - MetaTrader 4/MQL4/Files/

#Mail configuration
email_allert=true
mail_host=smtp.gmail.com
mail_port=587
email_user=kodilla999
email_password=kodillakodillakodilla
email_user_to=piotr.olchawa@protonmail.ch
email_user_from=kodilla999@gmail.com
email_from_name=Mt4-Alerter
email_to_name=Piotr